html {
  font-size: 62.5%;
}

body {
  color: #333333;
  background-color: #f1eee7;
  font-family: "Noto Serif", "Noto Serif JP", serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

.has-main-color {
  color: #f09f2f;
}

.has-main-background-color {
  background-color: #f09f2f;
}

.has-background-color {
  color: #f1eee7;
}

.has-background-background-color {
  background-color: #f1eee7;
}

.has-main-font-color {
  color: #1a1a1a;
}

.has-main-font-background-color {
  background-color: #1a1a1a;
}

.has-sub-font-color {
  color: #7d7d7d;
}

.has-sub-font-background-color {
  background-color: #7d7d7d;
}

.home-header_r {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home-header_r.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: 40;
  box-shadow: 3px 0 6px #f1eee7;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2vw;
}
@media screen and (max-width: 468px) {
  .home-header {
    padding: 8px 2vw;
  }
}
.home-header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-header__left img {
  display: inline-block;
  width: 150px;
}
@media screen and (max-width: 468px) {
  .home-header__left img {
    width: 100px;
  }
}
.home-header__txt-box {
  display: flex;
  font-size: 1.4rem;
  margin-left: 1em;
  line-height: 1.5;
}
@media screen and (max-width: 468px) {
  .home-header__txt-box {
    font-size: 1.2rem;
  }
}
.home-header__right {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .home-header__right {
    visibility: hidden;
    position: relative;
    transform: translateX(100%);
    overflow-x: hidden;
    transition: all 0.6s;
  }
}
.home-header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
@media screen and (max-width: 1080px) {
  .home-header__list {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.home-header__item {
  margin-right: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.home-header__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1080px) {
  .home-header__item {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1080px) {
  .home-header__item {
    margin: 0 0 5vh 0;
    color: #fff;
  }
}
.home-header__item--text {
  position: relative;
  z-index: 1;
}
.home-header__item--text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #ee9125;
  z-index: -1;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .home-header__item--text::after {
    background: #fff;
  }
}
.home-header__cta {
  display: flex;
}
@media screen and (max-width: 1300px) {
  .home-header__cta {
    padding-left: 0;
  }
}
@media screen and (max-width: 1080px) {
  .home-header__cta {
    padding-left: 0;
    width: 300px;
    justify-content: center;
  }
}
.home-header__mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
  background-color: #fff;
  border-radius: 50px;
  padding: 0 24px;
}
@media screen and (max-width: 1080px) {
  .home-header__mail {
    background-color: #fff;
    padding: 10px;
    width: 140px;
    border-radius: 50px;
  }
}
.home-header__mail--text {
  padding-top: 2px;
}
.home-header__mail:hover {
  color: #FFBC54;
}
.home-header__mail:hover .a {
  stroke: #FFBC54;
  transition: 0.3s;
}

.home-header__item--link:hover .home-header__item--text:after {
  width: 100%;
}

.burger-btn {
  display: none;
}
@media screen and (max-width: 1080px) {
  .burger-btn {
    display: block;
    position: absolute;
    top: calc((100% - 30px) / 2);
    right: 2vw;
    width: 30px;
    height: 20px;
  }
}

.bar {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #333333;
  transition: 0.3s ease-in-out;
  z-index: 50;
}
.bar_top {
  position: relative;
  bottom: 0px;
}
.bar_bottom {
  position: relative;
  top: 8px;
}

.burger-btn.open .bar_top,
.burger-btn.open .bar_bottom {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.burger-btn.open .bar_top {
  transform: translate(0, 10px) rotate(45deg);
}

.burger-btn.open .bar_bottom {
  transform: translate(0, 0) rotate(-45deg);
}

.js-block {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  background-color: #FFBC54;
  z-index: 30;
  transform: translateX(0%);
  transition: 0.6s ease-in-out;
}
@media screen and (max-width: 468px) {
  .js-block {
    width: 100vw;
  }
}

.contact-kv {
  height: 44vh;
  margin-top: 100px;
  background-image: url(./../../../img/kv_04.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 468px) {
  .contact-kv {
    margin-top: 80px;
  }
}
.contact-kv__bg {
  height: 44vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
}
.contact-kv__bg_s {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-kv__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contact-kv__title--main {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .contact-kv__title--main {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 468px) {
  .contact-kv__title--main {
    font-size: 4.2rem;
  }
}
@media screen and (max-width: 360px) {
  .contact-kv__title--main {
    font-size: 4rem;
  }
}
.contact-kv__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .contact-kv__title--sub {
    font-size: 1.6rem;
  }
}

.breadcrumb {
  padding: 15px 0;
  line-height: 1.3;
  font-size: 1.4rem;
}
.breadcrumb__home {
  text-decoration: underline;
}
.breadcrumb__home:hover {
  color: #FFBC54;
  transition: 0.3s;
}

input[type=text],
input[type=tel],
input[type=url],
select {
  line-height: 2.4rem;
}

input[type=text],
input[type=tel],
input[type=url],
select,
textarea {
  border: solid 1px #1a1a1a;
  border-radius: 5px;
  width: calc(100% - 250px);
  width: min(400px, 100vw);
  padding: 8px;
}
@media screen and (max-width: 768px) {
  input[type=text],
input[type=tel],
input[type=url],
select,
textarea {
    width: 100%;
  }
}

textarea {
  padding: 8px;
  resize: vertical;
}

select {
  font-size: 1.4rem;
}
@media screen and (max-width: 468px) {
  select {
    padding-right: 3.2rem;
  }
}

.form-select {
  position: relative;
}
@media screen and (max-width: 768px) {
  .form-select {
    width: 100%;
  }
}

.form-select::before {
  content: "";
  position: absolute;
  top: 14px;
  right: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 7.5px 0 7.5px;
  border-color: #1a1a1a transparent transparent transparent;
}

*:focus {
  outline: none;
}

::-webkit-input-placeholder {
  font-size: 1.4rem;
}

::-moz-placeholder {
  font-size: 1.4rem;
}

:-ms-input-placeholder {
  font-size: 1.4rem;
}

::-ms-input-placeholder {
  font-size: 1.4rem;
}

::placeholder {
  font-size: 1.4rem;
}

.form {
  margin: 46px auto 150px;
}
.form__title {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .form__title {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 360px) {
  .form__title {
    margin-bottom: 70px;
  }
}
.form__title--main {
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .form__title--main {
    font-size: 4rem;
  }
}
@media screen and (max-width: 468px) {
  .form__title--main {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 360px) {
  .form__title--main {
    font-size: 3.2rem;
  }
}
.form__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .form__title--sub {
    font-size: 1.6rem;
  }
}
.form__textbox {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 108px;
}
@media screen and (max-width: 468px) {
  .form__textbox {
    text-align: left;
  }
}
.form__textbox--text {
  margin-bottom: 14px;
}
.form__textbox--text:nth-of-type(4) {
  margin-bottom: 24px;
}
.form__textbox--text_br {
  display: block;
}
@media screen and (max-width: 768px) {
  .form__textbox--text_br {
    display: none;
  }
}
.form__textbox--last-text {
  font-weight: bold;
  text-decoration: underline;
}
@media screen and (max-width: 468px) {
  .form__textbox--last-text {
    text-align: center;
  }
}
.form__sec-title {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #FFBC54;
  line-height: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 76px;
  padding: 0 8px;
}
.form__sec-title_br {
  display: none;
}
@media screen and (max-width: 768px) {
  .form__sec-title {
    font-size: 2rem;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 468px) {
  .form__sec-title {
    font-size: 1.6rem;
    margin-bottom: 48px;
    line-height: 1.3;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form__sec-title_br {
    display: block;
  }
}
.form__contents-btn {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  margin-bottom: 96px;
  gap: 36px;
}
.form__choice {
  width: 280px;
  height: 60px;
  border: solid 1px #f1eee7;
  border-radius: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.form__area {
  background-color: #fff;
  border-radius: 50px;
  padding: 60px 40px;
}
@media screen and (max-width: 468px) {
  .form__area {
    padding: 40px 20px;
  }
}
.form__list {
  max-width: 700px;
  margin: 0 auto;
}
.form__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 44px;
}
.form__item:not(:last-child) {
  align-items: center;
}
.form__item:last-child {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .form__item {
    flex-direction: column;
  }
  .form__item:not(:last-child) {
    align-items: flex-start;
  }
}
.form__input {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .form__input {
    width: 100%;
  }
}
.form__item--label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 200px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .form__item--label {
    justify-content: flex-start;
    margin-bottom: 10px;
    flex-basis: 0;
  }
}
.form__item--required {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  background-color: #FFBC54;
}
@media screen and (max-width: 768px) {
  .form__item--required {
    margin-left: 20px;
  }
}
.form__comment {
  text-align: center;
  margin-bottom: 20px;
}
.form__submit {
  display: block;
  margin: 0 auto 10px auto;
  width: 400px;
  text-align: center;
  font-weight: bold;
  line-height: 60px;
  border-radius: 50px;
  color: #fff;
  background-color: #FFBC54;
  box-shadow: 3px 3px 6px #f1eee7;
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .form__submit {
    width: 320px;
  }
}
@media screen and (max-width: 468px) {
  .form__submit {
    width: 280px;
  }
}
@media screen and (max-width: 408px) {
  .form__submit {
    width: 260px;
  }
}
@media screen and (max-width: 360px) {
  .form__submit {
    width: 240px;
  }
}
.form__submit:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.contact__submit .contact__submit--span:hover::before {
  top: 0;
  left: 0;
}

.form__privacy-text {
  text-align: center;
  line-height: 1.5;
}
.form__privacy-text--link {
  text-decoration: underline;
  transition: 0.3s;
}
.form__privacy-text--link:hover {
  color: #FFBC54;
}

.home-footer {
  margin: 64px auto 34px auto;
}
.home-footer__box {
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .home-footer__box {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__box {
    padding: 50px 10px;
  }
}
.home-footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .home-footer__left {
    align-items: center;
    justify-content: center;
  }
}
.home-footer__logo {
  width: 200px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .home-footer__logo {
    margin-bottom: 25px;
  }
}
.home-footer__position {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .home-footer__position {
    margin-bottom: 40px;
  }
}
.home-footer__table {
  line-height: 2;
}
.home-footer__tr--td:first-of-type {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .home-footer__tr--td:first-of-type {
    padding-right: 50px;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__tr--td:first-of-type {
    padding-right: 30px;
  }
}
.home-footer__right {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-footer__right {
    margin-bottom: 55px;
    justify-content: center;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__right {
    flex-direction: column;
  }
}
.home-footer__list {
  margin-right: 50px;
}
.home-footer__list:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .home-footer__list:last-of-type {
    margin-left: 4vw;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__list:last-of-type {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .home-footer__list {
    margin-right: 4vw;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__list {
    margin-right: 0;
    text-align: center;
  }
}
.home-footer__item {
  margin-bottom: 30px;
}
.home-footer__item:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 468px) {
  .home-footer__item:last-of-type {
    margin-bottom: 30px;
  }
}
.home-footer__item_other {
  margin-bottom: 28px;
}
.home-footer__item--link:hover {
  transition: 0.3s;
  color: #FFBC54;
}
.home-footer__cta {
  margin-bottom: 30px;
}
@media screen and (max-width: 468px) {
  .home-footer__cta {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__cta-box {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
  .home-footer__cta-box {
    flex-direction: column;
  }
}
.home-footer__mail, .home-footer__person {
  display: flex;
  align-items: center;
  vertical-align: bottom;
}
.home-footer__mail:hover, .home-footer__person:hover {
  transition: 0.3s;
  color: #FFBC54;
}
@media screen and (max-width: 468px) {
  .home-footer__mail, .home-footer__person {
    width: 150px;
    justify-content: center;
    color: #fff;
    background-color: #FFBC54;
    line-height: 45px;
    border-radius: 50px;
  }
}
.home-footer__mail svg, .home-footer__person svg {
  width: 18px;
  height: 19px;
  margin-right: 10px;
}
.home-footer__person {
  margin-bottom: 30px;
}
.home-footer__person .a {
  fill: #333333;
}
@media screen and (max-width: 468px) {
  .home-footer__person .a {
    fill: #fff;
    stroke: #fff;
  }
}
.home-footer__person:hover {
  color: #FFBC54;
}
.home-footer__person:hover .a {
  fill: #FFBC54;
  stroke: #FFBC54;
  transition: 0.3s;
}
@media screen and (max-width: 468px) {
  .home-footer__person {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
@media screen and (max-width: 360px) {
  .home-footer__person {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__mail .a {
    stroke: #fff;
    stroke-width: 5px;
  }
}
.home-footer__mail:hover {
  color: #FFBC54;
  stroke-width: 10;
}
.home-footer__mail:hover .a {
  stroke: #FFBC54;
  transition: 0.3s;
}
.home-footer__copy {
  display: block;
  text-align: center;
  margin-top: 30px;
}

/*# sourceMappingURL=contact.css.map */
