@charset "UTF-8";
html {
  font-size: 62.5%;
}

body {
  color: #333333;
  background-color: #f1eee7;
  font-family: "Noto Serif", "Noto Serif JP", serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

.has-main-color {
  color: #f09f2f;
}

.has-main-background-color {
  background-color: #f09f2f;
}

.has-background-color {
  color: #f1eee7;
}

.has-background-background-color {
  background-color: #f1eee7;
}

.has-main-font-color {
  color: #1a1a1a;
}

.has-main-font-background-color {
  background-color: #1a1a1a;
}

.has-sub-font-color {
  color: #7d7d7d;
}

.has-sub-font-background-color {
  background-color: #7d7d7d;
}

body {
  background: #FFBC54;
}

body.appear {
  background: #f1eee7;
}

body.appear .loadingbg {
  display: block;
  border-radius: 50%;
  -webkit-animation-name: PageAnime;
  animation-name: PageAnime;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #FFBC54;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

.loading-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-svg {
  z-index: 1000;
  max-width: 600px;
  width: 100%;
  display: none;
}

.loadingbg {
  display: none;
  content: "";
  position: fixed;
  transform: scale(100);
  background-color: #FFBC54;
  z-index: 999;
  /*丸のスタートの形状*/
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
}

@-webkit-keyframes PageAnime {
  0% {
    transform: scale(100);
  }
  100% {
    transform: scale(0);
    display: none;
    /*終了時は消える*/
  }
}
@keyframes PageAnime {
  0% {
    transform: scale(100);
  }
  100% {
    transform: scale(0);
    display: none;
    /*終了時は消える*/
  }
}
.loading-hidden {
  opacity: 0;
}

body.appear .loading-hidden {
  -webkit-animation-name: PageAnimeAppear;
  animation-name: PageAnimeAppear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*SVGのサイズ*/
.loading-svg {
  max-width: 800px;
  width: 100%;
  height: auto;
}

#loading-svg .st1 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 140;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
}

.home-header_r {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home-header_r.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: 40;
  box-shadow: 3px 0 6px #f1eee7;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2vw;
}
@media screen and (max-width: 468px) {
  .home-header {
    padding: 8px 2vw;
  }
}
.home-header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-header__left img {
  display: inline-block;
  width: 150px;
}
@media screen and (max-width: 468px) {
  .home-header__left img {
    width: 100px;
  }
}
.home-header__txt-box {
  display: flex;
  font-size: 1.4rem;
  margin-left: 1em;
  line-height: 1.5;
}
@media screen and (max-width: 468px) {
  .home-header__txt-box {
    font-size: 1.2rem;
  }
}
.home-header__right {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .home-header__right {
    visibility: hidden;
    position: relative;
    transform: translateX(100%);
    overflow-x: hidden;
    transition: all 0.6s;
  }
}
.home-header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
@media screen and (max-width: 1080px) {
  .home-header__list {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.home-header__item {
  margin-right: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.home-header__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1080px) {
  .home-header__item {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1080px) {
  .home-header__item {
    margin: 0 0 5vh 0;
    color: #fff;
  }
}
.home-header__item--text {
  position: relative;
  z-index: 1;
}
.home-header__item--text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #ee9125;
  z-index: -1;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .home-header__item--text::after {
    background: #fff;
  }
}
.home-header__cta {
  display: flex;
}
@media screen and (max-width: 1300px) {
  .home-header__cta {
    padding-left: 0;
  }
}
@media screen and (max-width: 1080px) {
  .home-header__cta {
    padding-left: 0;
    width: 300px;
    justify-content: center;
  }
}
.home-header__mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
  background-color: #fff;
  border-radius: 50px;
  padding: 0 24px;
}
@media screen and (max-width: 1080px) {
  .home-header__mail {
    background-color: #fff;
    padding: 10px;
    width: 140px;
    border-radius: 50px;
  }
}
.home-header__mail--text {
  padding-top: 2px;
}
.home-header__mail:hover {
  color: #FFBC54;
}
.home-header__mail:hover .a {
  stroke: #FFBC54;
  transition: 0.3s;
}

.home-header__item--link:hover .home-header__item--text:after {
  width: 100%;
}

.burger-btn {
  display: none;
}
@media screen and (max-width: 1080px) {
  .burger-btn {
    display: block;
    position: absolute;
    top: calc((100% - 30px) / 2);
    right: 2vw;
    width: 30px;
    height: 20px;
  }
}

.bar {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #333333;
  transition: 0.3s ease-in-out;
  z-index: 50;
}
.bar_top {
  position: relative;
  bottom: 0px;
}
.bar_bottom {
  position: relative;
  top: 8px;
}

.burger-btn.open .bar_top,
.burger-btn.open .bar_bottom {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.burger-btn.open .bar_top {
  transform: translate(0, 10px) rotate(45deg);
}

.burger-btn.open .bar_bottom {
  transform: translate(0, 0) rotate(-45deg);
}

.js-block {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  background-color: #FFBC54;
  z-index: 30;
  transform: translateX(0%);
  transition: 0.6s ease-in-out;
}
@media screen and (max-width: 468px) {
  .js-block {
    width: 100vw;
  }
}

.home-kv {
  height: 100vh;
  display: flex;
  align-items: flex-end;
}
.home-kv__box {
  margin-top: 13vh;
  height: 87vh;
  width: 100%;
  position: relative;
}
.home-kv__illust {
  position: absolute;
  top: 10%;
  right: 10%;
  max-width: 1100px;
  width: 38.75vw;
  height: 44vh;
  background: linear-gradient(45deg, #ee9125, #F6D047, #E96C2C);
  background-size: 200% 200%;
  -webkit-animation: fluid 30s ease 0s infinite, gradient 20s ease infinite;
  animation: fluid 30s ease 0s infinite, gradient 20s ease infinite;
}
@media screen and (max-width: 968px) {
  .home-kv__illust {
    width: 80vw;
    height: 40vh;
  }
}
@media screen and (max-width: 768px) {
  .home-kv__illust {
    top: 15%;
    right: 5%;
    width: 85vw;
    height: 40vh;
  }
}
@media screen and (max-width: 468px) {
  .home-kv__illust {
    width: 90vw;
    height: 40vh;
  }
}
.home-kv__textarea {
  max-width: 1100px;
  padding: 0 4vw;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.home-kv__text {
  font-size: 4.4rem;
  z-index: 10;
  margin-bottom: 20vh;
  padding-left: 25px;
  text-shadow: 3px 3px 6px #fff;
}
@media screen and (max-width: 768px) {
  .home-kv__text {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 468px) {
  .home-kv__text {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 408px) {
  .home-kv__text {
    font-size: 2.4rem;
  }
}
.home-kv__text--lead {
  padding-bottom: 30px;
}
.home-kv__text--lead:last-of-type {
  padding-bottom: 0px;
}
.home-kv__text--lead:first-of-type {
  position: relative;
  padding-top: 20px;
}
.home-kv__text--lead .kv__text--lead_circle {
  z-index: -1;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}
.home-kv__image {
  position: absolute;
  z-index: -1;
  right: 5%;
  bottom: 10%;
  width: 30vw;
  height: 20vh;
  opacity: 0.6;
}
@media screen and (max-width: 968px) {
  .home-kv__image {
    width: 40vw;
    right: 1%;
  }
}
@media screen and (max-width: 768px) {
  .home-kv__image {
    height: 30vh;
    bottom: 5%;
  }
}
.home-kv__scroll {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 50%;
  width: 1px;
  height: 140px;
  background-color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 468px) {
  .home-kv__scroll {
    height: 100px;
  }
}
.home-kv__scroll--announce {
  position: absolute;
  bottom: 5%;
  z-index: 2;
  display: block;
  width: 1px;
  height: 140px;
  background-color: #1a1a1a;
  -webkit-animation-name: marker;
  animation-name: marker;
  -webkit-animation-timing-function: cubic-bezier(0.54, 0, 0, 0.99);
  animation-timing-function: cubic-bezier(0.54, 0, 0, 0.99);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
@media screen and (max-width: 468px) {
  .home-kv__scroll {
    height: 100px;
  }
}

@-webkit-keyframes marker {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(107%);
  }
}
@keyframes marker {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(107%);
  }
}
@-webkit-keyframes fluid {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fluid {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-webkit-keyframes gradient {
  0%, 100% {
    border-radius: 13% 87% 19% 81%/62% 63% 37% 38%;
  }
  14% {
    border-radius: 44% 56% 53% 47%/62% 63% 37% 38%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 94% 6% 88% 12%/14% 84% 16% 86%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes gradient {
  0%, 100% {
    border-radius: 13% 87% 19% 81%/62% 63% 37% 38%;
  }
  14% {
    border-radius: 44% 56% 53% 47%/62% 63% 37% 38%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 94% 6% 88% 12%/14% 84% 16% 86%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.js-none {
  display: none;
}

.greeting {
  margin: 165px auto 148px auto;
}
.greeting__title {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.greeting__title--main {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .greeting__title--main {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 360px) {
  .greeting__title--main {
    font-size: 3.2rem;
  }
}
.greeting__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .greeting__title--sub {
    font-size: 1.6rem;
  }
}
.greeting__contents {
  background-color: #fff;
  padding: 78px 45px 50px 45px;
  margin-bottom: 60px;
  border-radius: 50px;
  font-weight: normal;
}
@media screen and (max-width: 768px) {
  .greeting__contents {
    padding: 50px 15px;
  }
}
.greeting__box {
  line-height: 2;
}
.greeting__box--text {
  padding-bottom: 1.5em;
  line-height: 1.37;
}
.greeting__box--text:last-child {
  padding-bottom: 50px;
}
.greeting__box--text_other {
  padding-bottom: 0;
}
@media screen and (max-width: 1080px) {
  .greeting__box--text_br {
    display: none;
  }
}
.greeting__list {
  list-style: disc;
  list-style-position: inside;
  margin-bottom: 1.5em;
}
.greeting__list--item {
  line-height: 1.37;
}
.greeting__name-box {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .greeting__name-box {
    justify-content: center;
  }
}
.greeting__name {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .greeting__name {
    align-items: center;
    justify-content: center;
  }
}
.greeting__name--store {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: left;
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .greeting__name--store {
    font-size: 1.6rem;
    text-align: center;
  }
}
.greeting__name--me {
  font-size: 3.2rem;
  letter-spacing: 0.2em;
}
@media screen and (max-width: 468px) {
  .greeting__name--me {
    font-size: 2.4rem;
  }
}
.greeting__btn {
  display: block;
  text-align: center;
}
.greeting__btn--link {
  display: inline-block;
  border-radius: 50px;
  line-height: 70px;
  width: 350px;
  background-color: #fff;
  box-shadow: 3px 3px 10px #FFBC54;
  transition: 0.3s;
}
@media screen and (max-width: 468px) {
  .greeting__btn--link {
    width: 280px;
    box-shadow: 0 0 10px #FFBC54;
  }
}
.greeting__btn--link:hover {
  color: #fff;
  background-color: #FFBC54;
  box-shadow: none;
}

.home-service {
  margin-bottom: 148px;
}
.home-service__title {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-service__title--main {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-service__title--main {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 360px) {
  .home-service__title--main {
    font-size: 3.2rem;
  }
}
.home-service__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .home-service__title--sub {
    font-size: 1.6rem;
  }
}
.home-service__list {
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .home-service__list {
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media screen and (max-width: 468px) {
  .home-service__list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.home-service__item {
  width: 30%;
  min-width: 200px;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .home-service__item {
    width: 40%;
  }
}
@media screen and (max-width: 468px) {
  .home-service__item {
    width: 60%;
  }
}
.home-service__item_01 {
  background-image: url(../../../img/icon-cording.png);
}
.home-service__item_02 {
  background-image: url(../../../img/icon-pc.png);
}
.home-service__item_03 {
  background-image: url(../../../img/icon-customize.png);
}
.home-service__circle {
  position: relative;
  padding-top: 100%;
  height: 0;
}
.home-service__circle--name {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.31;
  position: absolute;
  top: calc((100% - 1em) / 2);
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 968px) {
  .home-service__circle--name {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .home-service__circle--name {
    font-size: 1.8rem;
  }
}
.home-service__circle--name_three {
  top: calc((100% - 2em) / 2);
}
.home-service__action {
  padding: 33px 3%;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
}
.home-service__action--lead {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 38px;
}
@media screen and (max-width: 768px) {
  .home-service__action--lead {
    font-size: 1.8rem;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 468px) {
  .home-service__action--lead {
    font-size: 1.6rem;
    line-height: 1.31;
  }
}
.home-service__action--btn {
  display: inline-block;
  width: 600px;
  line-height: 60px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  background-color: #FFBC54;
  box-shadow: 3px 3px 6px #f1eee7;
  transition: 0.3s;
}
@media screen and (max-width: 1080px) {
  .home-service__action--btn {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .home-service__action--btn {
    width: 320px;
  }
}
@media screen and (max-width: 468px) {
  .home-service__action--btn {
    width: 280px;
  }
}
@media screen and (max-width: 408px) {
  .home-service__action--btn {
    width: 260px;
  }
}
@media screen and (max-width: 360px) {
  .home-service__action--btn {
    width: 240px;
  }
}
.home-service__action--btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.home-service__br {
  display: none;
}
@media screen and (max-width: 468px) {
  .home-service__br {
    display: block;
  }
}

.home-works {
  margin-bottom: 157px;
}
.home-works__title {
  margin-bottom: 97px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home-works__title--main {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-works__title--main {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 360px) {
  .home-works__title--main {
    font-size: 3.2rem;
  }
}
.home-works__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .home-works__title--sub {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 468px) {
  .home-works__title {
    align-items: center;
  }
}
.home-works__link {
  display: inline-block;
  text-decoration: underline;
  padding-bottom: 25px;
  flex-basis: 64px;
}
.home-works__link:hover {
  color: #FFBC54;
  transition: 0.3s;
}
.home-works__image {
  width: 100%;
  height: 170px;
  border: solid 2px #1a1a1a;
  margin-bottom: 25px;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  .home-works__image {
    height: initial;
  }
}
.home-works__image:hover img {
  transform: scale(1.1);
}
.home-works__image img {
  height: 100%;
  transition: transform 0.6s ease;
}
@media screen and (max-width: 599px) {
  .home-works__image img {
    height: 250px;
  }
}
@media screen and (max-width: 468px) {
  .home-works__image img {
    height: 200px;
  }
}
.home-works__other {
  display: flex;
  flex-direction: column;
}
.home-works__other--time {
  text-align: right;
}
.home-works__btn {
  display: block;
  text-align: center;
}
.home-works__btn--link {
  display: inline-block;
  border-radius: 50px;
  line-height: 70px;
  width: 350px;
  background-color: #fff;
  box-shadow: 3px 3px 10px #FFBC54;
  transition: 0.3s;
}
@media screen and (max-width: 468px) {
  .home-works__btn--link {
    width: 280px;
    box-shadow: 0 0 10px #FFBC54;
  }
}
.home-works__btn--link:hover {
  color: #fff;
  background-color: #FFBC54;
  box-shadow: none;
}

.swiper-container {
  overflow: hidden;
  margin-bottom: 100px;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .swiper-wrapper {
    justify-content: flex-start;
  }
}

.swiper-slide {
  width: 30%;
  background-color: #fff;
  border-radius: 50px;
  padding: 35px 32px 27px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.swiper-slide img {
  width: 100%;
}
@media screen and (max-width: 468px) {
  .swiper-slide img {
    width: 100%;
  }
}

.home-flow {
  background-color: #fff;
  padding: 94px 0;
}
.home-flow__title {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .home-flow__title {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 360px) {
  .home-flow__title {
    margin-bottom: 70px;
  }
}
.home-flow__title--main {
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-flow__title--main {
    font-size: 4rem;
  }
}
@media screen and (max-width: 468px) {
  .home-flow__title--main {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 360px) {
  .home-flow__title--main {
    font-size: 3.2rem;
  }
}
.home-flow__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .home-flow__title--sub {
    font-size: 1.6rem;
  }
}
.home-flow__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-flow__box {
  width: 80%;
  border: solid 1px #1a1a1a;
  border-radius: 30px;
  padding: 20px 3%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .home-flow__box {
    width: 90%;
  }
}
@media screen and (max-width: 468px) {
  .home-flow__box {
    width: 100%;
  }
}
.home-flow__box--lead {
  font-size: 2.4rem;
  font-weight: bold;
  padding-bottom: 10px;
  color: #333333;
}
@media screen and (max-width: 768px) {
  .home-flow__box--lead {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .home-flow__box--text {
    line-height: 1.5;
  }
}
@media screen and (max-width: 468px) {
  .home-flow__box--text {
    text-align: left;
  }
}
.home-flow__triangle {
  width: 0;
  height: 0;
  margin: 10px auto 10px;
  border-style: solid;
  border-width: 20px 25px 0 25px;
  border-color: #FFBC54 transparent transparent transparent;
}

.home-news {
  margin: 94px auto 94px;
}
.home-news__container {
  background-color: #fff;
  border-radius: 50px;
  padding: 87px 100px 119px;
}
@media screen and (max-width: 768px) {
  .home-news__container {
    padding: 50px 4vw 119px;
  }
}
.home-news__title {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-news__title--main {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-news__title--main {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 360px) {
  .home-news__title--main {
    font-size: 3.2rem;
  }
}
.home-news__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .home-news__title--sub {
    font-size: 1.6rem;
  }
}
.home-news__table {
  margin: 94px auto 104px auto;
}
.home-news__article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #f1eee7;
  position: relative;
}
.home-news__article::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #FFBC54;
  transition: all 0.3s;
}
@media screen and (max-width: 1080px) {
  .home-news__article {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
.home-news__time {
  padding-left: 30px;
  flex-basis: 200px;
}
@media screen and (max-width: 1080px) {
  .home-news__time {
    flex-basis: 0;
    margin-bottom: 10px;
    padding-left: 20px;
  }
}
.home-news__lead {
  font-weight: normal;
}
@media screen and (max-width: 1080px) {
  .home-news__lead {
    padding-left: 20px;
  }
}
.home-news__arrow {
  position: absolute;
  right: 20px;
  top: calc((100% - 20px) / 2);
  width: 60px;
  opacity: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 468px) {
  .home-news__arrow {
    display: none;
  }
}
.home-news__btn {
  display: block;
  text-align: center;
}
.home-news__btn--link {
  display: inline-block;
  border-radius: 50px;
  line-height: 70px;
  width: 350px;
  background-color: #fff;
  box-shadow: 3px 3px 10px #FFBC54;
  transition: 0.3s;
}
@media screen and (max-width: 468px) {
  .home-news__btn--link {
    width: 260px;
    box-shadow: 0 0 10px #FFBC54;
  }
}
.home-news__btn--link:hover {
  color: #fff;
  background-color: #FFBC54;
  box-shadow: none;
}

.home-news__article:hover.home-news__article::after {
  width: 100%;
}

.home-news__article:hover .home-news__arrow {
  opacity: 1;
}

.home-contact {
  padding: 45px 0 83px;
  background-color: #FFBC54;
}
.home-contact__title {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.home-contact__title--main {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-contact__title--main {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 360px) {
  .home-contact__title--main {
    font-size: 3.2rem;
  }
}
.home-contact__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .home-contact__title--sub {
    font-size: 1.6rem;
  }
}
.home-contact__contents {
  background-color: #fff;
  border-radius: 50px;
  padding: 60px 100px 67px 140px;
}
@media screen and (max-width: 768px) {
  .home-contact__contents {
    padding: 60px 4vw 67px;
  }
}
.home-contact__text-box {
  font-size: 1.6rem;
  line-height: 1.5;
}
.home-contact__text-box--text {
  margin-bottom: 2em;
}
.home-contact__text-box--text:last-of-type {
  margin-bottom: 80px;
}
.home-contact__btn {
  display: inline-block;
  width: 600px;
  line-height: 60px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  background-color: #FFBC54;
  box-shadow: 3px 3px 6px #f1eee7;
  transition: 0.3s;
  display: block;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  .home-contact__btn {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .home-contact__btn {
    width: 320px;
  }
}
@media screen and (max-width: 468px) {
  .home-contact__btn {
    width: 280px;
  }
}
@media screen and (max-width: 408px) {
  .home-contact__btn {
    width: 260px;
  }
}
@media screen and (max-width: 360px) {
  .home-contact__btn {
    width: 240px;
  }
}
.home-contact__btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.home-footer {
  margin: 64px auto 34px auto;
}
.home-footer__box {
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .home-footer__box {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__box {
    padding: 50px 10px;
  }
}
.home-footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .home-footer__left {
    align-items: center;
    justify-content: center;
  }
}
.home-footer__logo {
  width: 200px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .home-footer__logo {
    margin-bottom: 25px;
  }
}
.home-footer__position {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .home-footer__position {
    margin-bottom: 40px;
  }
}
.home-footer__table {
  line-height: 2;
}
.home-footer__tr--td:first-of-type {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .home-footer__tr--td:first-of-type {
    padding-right: 50px;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__tr--td:first-of-type {
    padding-right: 30px;
  }
}
.home-footer__right {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-footer__right {
    margin-bottom: 55px;
    justify-content: center;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__right {
    flex-direction: column;
  }
}
.home-footer__list {
  margin-right: 50px;
}
.home-footer__list:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .home-footer__list:last-of-type {
    margin-left: 4vw;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__list:last-of-type {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .home-footer__list {
    margin-right: 4vw;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__list {
    margin-right: 0;
    text-align: center;
  }
}
.home-footer__item {
  margin-bottom: 30px;
}
.home-footer__item:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 468px) {
  .home-footer__item:last-of-type {
    margin-bottom: 30px;
  }
}
.home-footer__item_other {
  margin-bottom: 28px;
}
.home-footer__item--link:hover {
  transition: 0.3s;
  color: #FFBC54;
}
.home-footer__cta {
  margin-bottom: 30px;
}
@media screen and (max-width: 468px) {
  .home-footer__cta {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__cta-box {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
  .home-footer__cta-box {
    flex-direction: column;
  }
}
.home-footer__mail, .home-footer__person {
  display: flex;
  align-items: center;
  vertical-align: bottom;
}
.home-footer__mail:hover, .home-footer__person:hover {
  transition: 0.3s;
  color: #FFBC54;
}
@media screen and (max-width: 468px) {
  .home-footer__mail, .home-footer__person {
    width: 150px;
    justify-content: center;
    color: #fff;
    background-color: #FFBC54;
    line-height: 45px;
    border-radius: 50px;
  }
}
.home-footer__mail svg, .home-footer__person svg {
  width: 18px;
  height: 19px;
  margin-right: 10px;
}
.home-footer__person {
  margin-bottom: 30px;
}
.home-footer__person .a {
  fill: #333333;
}
@media screen and (max-width: 468px) {
  .home-footer__person .a {
    fill: #fff;
    stroke: #fff;
  }
}
.home-footer__person:hover {
  color: #FFBC54;
}
.home-footer__person:hover .a {
  fill: #FFBC54;
  stroke: #FFBC54;
  transition: 0.3s;
}
@media screen and (max-width: 468px) {
  .home-footer__person {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
@media screen and (max-width: 360px) {
  .home-footer__person {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__mail .a {
    stroke: #fff;
    stroke-width: 5px;
  }
}
.home-footer__mail:hover {
  color: #FFBC54;
  stroke-width: 10;
}
.home-footer__mail:hover .a {
  stroke: #FFBC54;
  transition: 0.3s;
}
.home-footer__copy {
  display: block;
  text-align: center;
  margin-top: 30px;
}

/*# sourceMappingURL=home.css.map */
