@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/title"as title;

.newsDetail{
    height: 30vh;
    margin-top: 100px;
    background-image: url(./../../../img/kv_06.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    @include m.mq(sp){
        margin-top: 80px;
    }
        &__bg{
            height: 30vh;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            width: 100%;
            height: 80%;
            background-color: v.$base-color_05;
                &_s{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    @include m.mq(tab){
                        text-align: left;
                    }
                }
        }
        &__title{
            width: 35em;
            font-size: 3.2rem;
            font-weight: bold;
            text-align: left;
            @include m.mq(sp){
                font-size: 2.4rem;
            }
        }
}