//@useでの使用の名前は、as v;

$base-color_01:#FFBC54;
$base-color_02:#ee9125;
//以下は背景色
$base-color_03:#f1eee7;
$base-color_04:#fff;
$base-color_05:rgba(255,255,255,.5);

//全体文字色
$font-color_01: #333333;
//全体文字色_2
$font-color_02:#fff;
//文字色_3「side追従文字」「copy-right」
$font-color_03:#7d7d7d;

//headerのホバー下線
$hover-color_01:#ee9125;
$hover-color_02:#fff;

//ハンバーガーメニュー背景色
$burger-bg_01:#FFBC54;
//スティッキー背景色
$sticky-bg_01:rgba(255,255,255,.7);

//キービジュアルスクロール線
$scroll-line_01:#fff;
$scroll-line_02:#1a1a1a;

//ボタン
$btn-color_01:#1a1a1a;
$btn-color_02:#fff;
//影で使用
$btn-color_03:#7d7d7d;

//トップページNEWSの枠線・私について(About)の上線・faq枠線
$line-color_01:#f1eee7;
//asideの枠線・home-flow枠線・記事投稿サムネイル周り・works枠線
$line-color_02:#1a1a1a;

//home-flowでの三角形
$triangle-color_01:#f1eee7;

//faq(アコーディオン内、回答背景)
$faq-color_01:#f3f3f3;

//トップページグラデーション
$gradient_color_01:#ee9125;
$gradient_color_02:#F6D047;
$gradient_color_03:#E96C2C;