html {
  font-size: 62.5%;
}

body {
  color: #333333;
  background-color: #f1eee7;
  font-family: "Noto Serif", "Noto Serif JP", serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .wrapper {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .inner {
    padding-right: 4vw;
    padding-left: 4vw;
  }
}

.has-main-color {
  color: #f09f2f;
}

.has-main-background-color {
  background-color: #f09f2f;
}

.has-background-color {
  color: #f1eee7;
}

.has-background-background-color {
  background-color: #f1eee7;
}

.has-main-font-color {
  color: #1a1a1a;
}

.has-main-font-background-color {
  background-color: #1a1a1a;
}

.has-sub-font-color {
  color: #7d7d7d;
}

.has-sub-font-background-color {
  background-color: #7d7d7d;
}

.home-header_r {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home-header_r.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: 40;
  box-shadow: 3px 0 6px #f1eee7;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 2vw;
}
@media screen and (max-width: 468px) {
  .home-header {
    padding: 8px 2vw;
  }
}
.home-header__left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-header__left img {
  display: inline-block;
  width: 150px;
}
@media screen and (max-width: 468px) {
  .home-header__left img {
    width: 100px;
  }
}
.home-header__txt-box {
  display: flex;
  font-size: 1.4rem;
  margin-left: 1em;
  line-height: 1.5;
}
@media screen and (max-width: 468px) {
  .home-header__txt-box {
    font-size: 1.2rem;
  }
}
.home-header__right {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1080px) {
  .home-header__right {
    visibility: hidden;
    position: relative;
    transform: translateX(100%);
    overflow-x: hidden;
    transition: all 0.6s;
  }
}
.home-header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
@media screen and (max-width: 1080px) {
  .home-header__list {
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.home-header__item {
  margin-right: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.home-header__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1080px) {
  .home-header__item {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1080px) {
  .home-header__item {
    margin: 0 0 5vh 0;
    color: #fff;
  }
}
.home-header__item--text {
  position: relative;
  z-index: 1;
}
.home-header__item--text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #ee9125;
  z-index: -1;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .home-header__item--text::after {
    background: #fff;
  }
}
.home-header__cta {
  display: flex;
}
@media screen and (max-width: 1300px) {
  .home-header__cta {
    padding-left: 0;
  }
}
@media screen and (max-width: 1080px) {
  .home-header__cta {
    padding-left: 0;
    width: 300px;
    justify-content: center;
  }
}
.home-header__mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: 0.3s;
  background-color: #fff;
  border-radius: 50px;
  padding: 0 24px;
}
@media screen and (max-width: 1080px) {
  .home-header__mail {
    background-color: #fff;
    padding: 10px;
    width: 140px;
    border-radius: 50px;
  }
}
.home-header__mail--text {
  padding-top: 2px;
}
.home-header__mail:hover {
  color: #FFBC54;
}
.home-header__mail:hover .a {
  stroke: #FFBC54;
  transition: 0.3s;
}

.home-header__item--link:hover .home-header__item--text:after {
  width: 100%;
}

.burger-btn {
  display: none;
}
@media screen and (max-width: 1080px) {
  .burger-btn {
    display: block;
    position: absolute;
    top: calc((100% - 30px) / 2);
    right: 2vw;
    width: 30px;
    height: 20px;
  }
}

.bar {
  display: block;
  height: 2px;
  width: 30px;
  background-color: #333333;
  transition: 0.3s ease-in-out;
  z-index: 50;
}
.bar_top {
  position: relative;
  bottom: 0px;
}
.bar_bottom {
  position: relative;
  top: 8px;
}

.burger-btn.open .bar_top,
.burger-btn.open .bar_bottom {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

.burger-btn.open .bar_top {
  transform: translate(0, 10px) rotate(45deg);
}

.burger-btn.open .bar_bottom {
  transform: translate(0, 0) rotate(-45deg);
}

.js-block {
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  background-color: #FFBC54;
  z-index: 30;
  transform: translateX(0%);
  transition: 0.6s ease-in-out;
}
@media screen and (max-width: 468px) {
  .js-block {
    width: 100vw;
  }
}

.greeting-kv {
  height: 44vh;
  margin-top: 100px;
  background-image: url(./../../../img/kv_01.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 468px) {
  .greeting-kv {
    margin-top: 80px;
  }
}
.greeting-kv__bg {
  height: 44vh;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.5);
}
.greeting-kv__bg_s {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.greeting-kv__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.greeting-kv__title--main {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .greeting-kv__title--main {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 468px) {
  .greeting-kv__title--main {
    font-size: 4.2rem;
  }
}
@media screen and (max-width: 360px) {
  .greeting-kv__title--main {
    font-size: 4rem;
  }
}
.greeting-kv__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .greeting-kv__title--sub {
    font-size: 1.6rem;
  }
}

.breadcrumb {
  padding: 15px 0;
  line-height: 1.3;
  font-size: 1.4rem;
}
.breadcrumb__home {
  text-decoration: underline;
}
.breadcrumb__home:hover {
  color: #FFBC54;
  transition: 0.3s;
}

.profile {
  margin: 46px auto 150px;
}
.profile__title {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .profile__title {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 360px) {
  .profile__title {
    margin-bottom: 70px;
  }
}
.profile__title--main {
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .profile__title--main {
    font-size: 4rem;
  }
}
@media screen and (max-width: 468px) {
  .profile__title--main {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 360px) {
  .profile__title--main {
    font-size: 3.2rem;
  }
}
.profile__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .profile__title--sub {
    font-size: 1.6rem;
  }
}
.profile__lead {
  text-align: center;
  line-height: 2;
  margin-bottom: 148px;
}
@media screen and (max-width: 768px) {
  .profile__lead {
    text-align: left;
  }
}
.profile__lead--text {
  margin-bottom: 45px;
}
.profile__lead--text:last-of-type {
  margin-bottom: 0;
}
.profile__lead--text_br {
  display: block;
}
@media screen and (max-width: 821px) {
  .profile__lead--text_br {
    display: none;
  }
}
.profile__contents-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 968px) {
  .profile__contents-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.profile__image {
  max-width: 350px;
  width: 100%;
  min-width: 320px;
  height: 500px;
  margin-right: 20px;
}
@media screen and (max-width: 968px) {
  .profile__image {
    height: 350px;
    margin-right: 0;
    margin-bottom: -30px;
    z-index: 1;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 360px) {
  .profile__image {
    min-width: 280px;
  }
}
.profile__image img {
  height: 500px;
  border-radius: 50px;
}
@media screen and (max-width: 968px) {
  .profile__image img {
    height: 350px;
  }
}
.profile__area {
  max-width: 530px;
  width: 100%;
  padding: 50px 30px;
  background-color: #fff;
  border-radius: 50px;
}
@media screen and (max-width: 468px) {
  .profile__area {
    padding: 50px 15px;
  }
}
.profile__name {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  margin-bottom: 45px;
}
@media screen and (max-width: 968px) {
  .profile__name {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.profile__name--ja {
  margin-right: 50px;
  font-size: 3.2rem;
}
@media screen and (max-width: 968px) {
  .profile__name--ja {
    margin-right: 0;
  }
}
.profile__name--en {
  font-size: 2.4rem;
}
.profile__career {
  font-size: 2.4rem;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .profile__career {
    margin-bottom: 20px;
  }
}
.profile__historyarea {
  white-space: nowrap;
  border-collapse: separate;
  border-spacing: 20px 30px;
  line-height: 1.31;
}
@media screen and (max-width: 768px) {
  .profile__historyarea {
    white-space: normal;
    border-spacing: 0 0;
    margin-left: 1em;
  }
}
@media screen and (max-width: 768px) {
  .profile__row {
    display: block;
    margin-bottom: 30px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .profile__row--year {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .profile__row--event {
    padding-left: 1em;
  }
}
.profile__row--event_br {
  display: block;
}
@media screen and (max-width: 468px) {
  .profile__row--event_br {
    display: none;
  }
}
.profile__row--event_sp-br {
  display: none;
}
@media screen and (max-width: 468px) {
  .profile__row--event_sp-br {
    display: block;
  }
}

.about {
  margin-bottom: 200px;
}
.about__contents {
  margin: 0 auto;
}
.about__title {
  margin-bottom: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .about__title {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 360px) {
  .about__title {
    margin-bottom: 70px;
  }
}
.about__title--main {
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .about__title--main {
    font-size: 4rem;
  }
}
@media screen and (max-width: 468px) {
  .about__title--main {
    font-size: 3.6rem;
  }
}
@media screen and (max-width: 360px) {
  .about__title--main {
    font-size: 3.2rem;
  }
}
.about__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .about__title--sub {
    font-size: 1.6rem;
  }
}
.about__table {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50px;
  padding: 50px 30px;
  border-collapse: separate;
  border-spacing: 0 30px;
  line-height: 1.31;
}
.about__row--td {
  border-top: 2px solid #f1eee7;
  padding: 30px 0 0 1em;
}
@media screen and (max-width: 468px) {
  .about__row--td {
    padding: 15px 0 0 1em;
  }
}
.about__row--td:first-of-type {
  border-top: 2px solid #FFBC54;
  font-weight: bold;
  width: 150px;
}
@media screen and (max-width: 468px) {
  .about__row--td:first-of-type {
    width: 100px;
  }
}

.home-contact {
  padding: 45px 0 83px;
  background-color: #FFBC54;
}
.home-contact__title {
  margin-bottom: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.home-contact__title--main {
  font-size: 6.4rem;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-contact__title--main {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 360px) {
  .home-contact__title--main {
    font-size: 3.2rem;
  }
}
.home-contact__title--sub {
  font-size: 2rem;
  font-weight: bold;
}
@media screen and (max-width: 360px) {
  .home-contact__title--sub {
    font-size: 1.6rem;
  }
}
.home-contact__contents {
  background-color: #fff;
  border-radius: 50px;
  padding: 60px 100px 67px 140px;
}
@media screen and (max-width: 768px) {
  .home-contact__contents {
    padding: 60px 4vw 67px;
  }
}
.home-contact__text-box {
  font-size: 1.6rem;
  line-height: 1.5;
}
.home-contact__text-box--text {
  margin-bottom: 2em;
}
.home-contact__text-box--text:last-of-type {
  margin-bottom: 80px;
}
.home-contact__btn {
  display: inline-block;
  width: 600px;
  line-height: 60px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  background-color: #FFBC54;
  box-shadow: 3px 3px 6px #f1eee7;
  transition: 0.3s;
  display: block;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 1080px) {
  .home-contact__btn {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .home-contact__btn {
    width: 320px;
  }
}
@media screen and (max-width: 468px) {
  .home-contact__btn {
    width: 280px;
  }
}
@media screen and (max-width: 408px) {
  .home-contact__btn {
    width: 260px;
  }
}
@media screen and (max-width: 360px) {
  .home-contact__btn {
    width: 240px;
  }
}
.home-contact__btn:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.home-footer {
  margin: 64px auto 34px auto;
}
.home-footer__box {
  background-color: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .home-footer__box {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__box {
    padding: 50px 10px;
  }
}
.home-footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .home-footer__left {
    align-items: center;
    justify-content: center;
  }
}
.home-footer__logo {
  width: 200px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .home-footer__logo {
    margin-bottom: 25px;
  }
}
.home-footer__position {
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .home-footer__position {
    margin-bottom: 40px;
  }
}
.home-footer__table {
  line-height: 2;
}
.home-footer__tr--td:first-of-type {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .home-footer__tr--td:first-of-type {
    padding-right: 50px;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__tr--td:first-of-type {
    padding-right: 30px;
  }
}
.home-footer__right {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .home-footer__right {
    margin-bottom: 55px;
    justify-content: center;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__right {
    flex-direction: column;
  }
}
.home-footer__list {
  margin-right: 50px;
}
.home-footer__list:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .home-footer__list:last-of-type {
    margin-left: 4vw;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__list:last-of-type {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .home-footer__list {
    margin-right: 4vw;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__list {
    margin-right: 0;
    text-align: center;
  }
}
.home-footer__item {
  margin-bottom: 30px;
}
.home-footer__item:last-of-type {
  margin-bottom: 0;
}
@media screen and (max-width: 468px) {
  .home-footer__item:last-of-type {
    margin-bottom: 30px;
  }
}
.home-footer__item_other {
  margin-bottom: 28px;
}
.home-footer__item--link:hover {
  transition: 0.3s;
  color: #FFBC54;
}
.home-footer__cta {
  margin-bottom: 30px;
}
@media screen and (max-width: 468px) {
  .home-footer__cta {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__cta-box {
    display: flex;
  }
}
@media screen and (max-width: 360px) {
  .home-footer__cta-box {
    flex-direction: column;
  }
}
.home-footer__mail, .home-footer__person {
  display: flex;
  align-items: center;
  vertical-align: bottom;
}
.home-footer__mail:hover, .home-footer__person:hover {
  transition: 0.3s;
  color: #FFBC54;
}
@media screen and (max-width: 468px) {
  .home-footer__mail, .home-footer__person {
    width: 150px;
    justify-content: center;
    color: #fff;
    background-color: #FFBC54;
    line-height: 45px;
    border-radius: 50px;
  }
}
.home-footer__mail svg, .home-footer__person svg {
  width: 18px;
  height: 19px;
  margin-right: 10px;
}
.home-footer__person {
  margin-bottom: 30px;
}
.home-footer__person .a {
  fill: #333333;
}
@media screen and (max-width: 468px) {
  .home-footer__person .a {
    fill: #fff;
    stroke: #fff;
  }
}
.home-footer__person:hover {
  color: #FFBC54;
}
.home-footer__person:hover .a {
  fill: #FFBC54;
  stroke: #FFBC54;
  transition: 0.3s;
}
@media screen and (max-width: 468px) {
  .home-footer__person {
    margin-bottom: 0;
    margin-right: 10px;
  }
}
@media screen and (max-width: 360px) {
  .home-footer__person {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 468px) {
  .home-footer__mail .a {
    stroke: #fff;
    stroke-width: 5px;
  }
}
.home-footer__mail:hover {
  color: #FFBC54;
  stroke-width: 10;
}
.home-footer__mail:hover .a {
  stroke: #FFBC54;
  transition: 0.3s;
}
.home-footer__copy {
  display: block;
  text-align: center;
  margin-top: 30px;
}

/*# sourceMappingURL=page-greeting.css.map */
