@use "../../../base/vars" as v;
@use "../../../mixin/breakpoints" as m;
@use "../../../mixin/title" as title;
@use "../../../mixin/btn" as btn;

//price内の共通
.section-title{
    @include title.title_05;
        &_br{
            display: none;
            @include m.mq(sp){
                display: block;
            }
        }
}
.section-subtitle{
    @include title.title_06;
    &_br{
        display: none;
        @include m.mq(sp){
            display: block;
        }
    }
    &_br-tab{
        display: none;
        @include m.mq(tab){
            display: block;
        }
    }
}
.section-bg{
    background-color: v.$base-color_04;
    border-radius: 50px;
    padding: 30px 120px;
    margin-bottom: 21px;
    @include m.mq(tab){
        padding: 30px 30px;
    }
}
.section-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 30px;
}
.section-row{
    &__product,
    &__fee{
        border-bottom: 1px solid v.$line-color_02;
        padding-bottom: 13px;
        @include m.mq(sp){
            display: block;
            text-align: center;
        }
    }
    &__fee{
        text-align: right;
        padding-right: 1em;
        @include m.mq(sp){
            text-align: center;
            padding-right: 0em;
        }
            &_other{
                padding-right: 2em;
                @include m.mq(sp){
                    padding-right: 0em;
                }
            }
    }
    &__product{
        @include m.mq(sp){
            border-bottom: none;
            padding-bottom: 10px;
        }
    }
}
.section__comment{
    display: inline-block;
    margin-bottom: 132px;
    @include m.mq(sp){
        margin-bottom: 80px;
    }
    &--link{
        text-decoration: underline;
        &:hover{
            color: v.$base-color_01;
            transition: .3s;
        }
    }
}
